---
---

@import 'variables.scss';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Lato';
	color: $text-grey;
}

main {
	margin-bottom: 20vh;
}

a {
	color: inherit;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 2px solid currentColor;
}

.line-divider {
	border: none;
	height: 8px;
	width: 80px;
	margin: 0;
	padding: 0;
}

@import 'text.css';
@import 'nav.css';
@import 'slider.css';
@import 'home.css';
@import 'project-grid.css';

@import 'project.css';
@import 'experiences.css';

@media screen and (max-width: $breakpoint) {
	
	* {
		box-sizing: border-box;
		padding: 0;
	}

	.not-on-mobile {
		display: none;
	}

	.full-width-on-mobile {
		padding: 30px !important;
		width: 100% !important;
		margin: 0 !important;
	}

	section, div {
		width: 100%;
		padding: 20px;
		margin: 0;
		flex-direction: column;
	}
}
