---
---

@import 'variables.scss';

body {
	margin: 0;
	font-family: 'Lato';
	color: $text-grey;
}

main {
	margin-bottom: 20vh;
}

a {
	color: inherit;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 2px solid currentColor;
}

img {
	max-width: 100%;
}

.line-divider {
	border: none;
	height: 8px;
	width: 80px;
	margin: 0;
	padding: 0;
}

@import 'text.css';
@import 'nav.css';
@import 'home.css';
@import 'project-grid.css';

@import 'project.css';
@import 'experiences.css';