---
---

@import 'variables.scss';

.experience-main {
	padding: 10vh 5vw;

	.line-divider {
		background: $blue;
	}

	h3 {
		margin-bottom: 0;
	}

	#experiences {
		display: flex;

		#experiences-sidebar {
			flex: 1 0 0;
			text-align: right;
			padding-right: 5vw;

			#experience-list {
				padding: 0.1vh 0;
				list-style: none;
				border-right: 1px solid $light-grey;
				margin-top: 5vh;
				margin-bottom: 10vh;

				li {
					line-height: 4vh;
					margin: 5vh 0;
					padding-right: 3vw;
					position: relative;
					color: $text-light-grey;

					small {
						display: block;
						font-size: 0.8vw;
					}

					h5 {
						margin: 0;
						font-size: 1.5vw;
					}

					&.active {
						font-weight: 800;
						color: $text-grey;

						&:after {
							content: '';
							height: 150%;
							width: 6px;
							background: $blue;
							position: absolute;
							top: -25%;
							left: calc(100% - 3px);
						}
					}
				
				}
			}
		}

		#experiences-body {
			flex: 4 0 0;

			h3 {
				line-height: 10vh;
			}

			ul {
				li {
					line-height: 5vh;
				}
			}
		}
	}

	#projects-section {
		padding: 0;
		margin-top: 20vh;
	}
}