---
---

@import 'variables.scss';

#home-banner {
	min-height: 70vh;

	#home-banner-slider {
		display: inline-block;
		width: 100vw;
		overflow-x: hidden;
		margin-bottom: 10vh;
		position: relative;

		#home-banner-next-button {
			position: absolute;
			top: 40%;
			right: 5%;
			font-size: 4vw;
			border: none;
			color: $light-grey;
			font-weight: 100;
			@include transition(0.3s);

			&:hover {
				color: $text-grey;
				font-weight: 800;
			}
		}

		#banner-slider-slides {
			width: 300vw; 
			display: flex;
			@include transition(0.5s);

			.home-banner-slide {
				display: inline-block;
				width: 100vw;
				position: relative;

				.banner-slide-background {
					z-index: -1;
					position: absolute;
					left: 20%;
					top: 5%;
					width: 60%;
					height: 90%;
					background: $light-blue;
				}

				.banner-slide-content {
					display: flex;
					width: 80%;
					padding: 5% 10% 5% 10%;

					.banner-slide-text {
						display: flex;
						flex: 2 0 0;
						flex-direction: column;
						justify-content: center;
						padding-right: 2vw;
						width: 50%;

						h2 {
							margin-bottom: 2vh;
						}
					}

					.banner-slide-image {
						flex: 3 0 0;
						
						img {
							width: 100%;
							margin: 0 auto;
						}
					}
				}
			}
		}

		#home-banner-slider-dots {
			display: flex;
			justify-content: center;
			padding: 10px 0;

			.slider-dot {
				margin: 5px 10px;
				border-radius: 50%;
				width: 10px;
				height: 10px;
				background: $light-grey;

				&.active {
					background: $dark-grey;
				}
			}
		}
	}
}

#home-callout {

	padding: 15vh 6vw;
	background: $blue;
	color: white;
	background-image: url('../img/pattern.png');
	margin-bottom: 10vh;

	.line-divider {
		background: white;
	}

	h1 {
		font-size: 5vw;
	}

	span {
		padding-bottom: 8px;
		border-bottom: 6px solid white;
	}

	p {
		width: 80%;
	}
}

#home-frameworks-intro {
	display: flex;
	width: 80%;
	margin: 0 auto;
	margin-top: 15vh;
	margin-bottom: 20vh;

	.line-divider {
		background: $blue;
	}

	#home-frameworks-intro-image {
		flex: 3 0 0;
		margin-right: 10vw;
	}

	#home-frameworks-intro-text {
		flex: 5 0 0;
	}
}