---
---

header {
	display: flex;
	justify-content: space-between;
	padding: 5vh 3vw;

	#logo {
		border: none;
		height: 40px;
		padding: 0;
	}

	nav {

		a {
			margin: 0 2vw;
			line-height: 40px;
		}
	}
}