---
---

@import 'variables.scss';

.project-header {
	background: $light-blue;
	display: flex;
	padding: 0;
	min-height: 80vh;

	.line-divider {
		background: $blue;
	}

	.project-header-info {
		flex: 1 0 0;
		align-self: flex-end;
		padding: 10vh 2vw 5vh 3vw;

		h2 {
			margin-bottom: 0;
		}

		p {
			margin-top: 0;
			font-style: italic;
		}
	}

	.project-header-image {
		position: relative;
		flex: 2 0 0;
		overflow: hidden;

		img {
			position: absolute;
			top: 10vh;
			right: 0;
			max-width: 100%;
		}
	}
}

.project-main {

	.project-content {
		display: flex;
		padding-top: 15vh;
		
		.project-sidebar {
			flex: 1 0 0;
			text-align: right;

			:first-child {
				margin-top: 5px;
			}

			.project-sidebar-field {
				margin-bottom: 3vh;

				small {
					color: $text-light-grey;
				}

				p {
					line-height: inherit;
					margin: 0;

					a {
						border: none;
					}
				}
			}
		}

		.project-main-body {
			flex: 4 0 0;
			padding-left: 5vw;

			:first-child {
				margin-top: 0;
			}
		}
	}
}

@media screen and (max-width: $breakpoint) {
	.project-header {
		min-height: auto;

		.project-header-info {
			padding: 20px;
			padding-bottom: 80px;
		}

		.project-header-image {
			display: none;
		}
	}

	.project-main {
		.project-content {
			padding: 0;

			.project-sidebar {
				text-align: left;
				padding: 0;
				padding-bottom: 40px;

				.project-sidebar-field {
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}
		}

		.line-divider {
			background: $blue;
		}
	}
}
