---
---

@import 'variables.scss';

.project-header {
	background: $light-blue;
	display: flex;
	padding: 0;
	min-height: 80vh;

	.line-divider {
		background: $blue;
	}

	.project-header-info {
		flex: 1 0 0;
		align-self: flex-end;
		padding: 10vh 5vw 5vh 3vw;
	}

	.project-header-image {
		position: relative;
		flex: 4 0 0;
		overflow: hidden;

		img {
			position: absolute;
			top: 10vh;
			right: 0;
			max-width: 100%;
		}
	}
}

.project-main {

	.project-content {
		display: flex;
		padding-top: 15vh;
		
		.project-sidebar {
			flex: 1 0 0;
			text-align: right;

			:first-child {
				margin-top: 5px;
			}
		}

		.project-main-body {
			flex: 4 0 0;
			padding-left: 5vw;

			:first-child {
				margin-top: 0;
			}
		}
	}
}

@media screen and (max-width: $breakpoint) {
	// #projects-section {
	// 	padding: 20px;

	// 	.line-divider {
	// 		margin-left: 20px;
	// 	}
	// }
}
