---
---

@import 'variables.scss';

.project-header {
	background: $light-blue;
	display: flex;
	padding: 0;
	min-height: 80vh;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	.line-divider {
		background: $blue;
	}

	.project-header-info {
		flex: 1 0 0;
		align-self: flex-end;
		padding: 10vh 2vw 5vh 3vw;

		h2 {
			margin-bottom: 0;
		}

		p {
			margin-top: 0;
			font-style: italic;
		}
	}

	.project-header-image {
		position: relative;
		flex: 2 0 0;
		overflow: hidden;

		img {
			position: absolute;
			top: 10vh;
			right: 0;
			max-width: 100%;
		}
	}
}

.project-main {

	.project-content {
		display: flex;
		padding: 15vh 5vw;

		a {
			color: $blue;
			border: none;

			&:hover {
				opacity: 0.5;
			}
		}
			
		.project-sidebar {
			flex: 1 0 0;
			text-align: right;

			:first-child {
				margin-top: 5px;
			}

			.project-sidebar-field {
				margin-bottom: 3vh;

				small {
					color: $text-light-grey;
				}

				p {
					line-height: inherit;
					margin: 0;

					a {
						border: none;
					}
				}
			}

			#table-of-contents {
				position: sticky;
				top: 5vh;

				a {
					display: block;
				}
			}
		}

		.project-main-body {
			flex: 4 0 0;
			padding: 0 8vw 5vh 6vw;

			// first child is mobile only divider
			// the first image or text should have no margin-top
			// to line up with the top of the sidebar
			> :nth-child(2) {
				margin-top: 0;
			}

			.project-slider {
				width: 100%;

				.slide {
					text-align: center;
					padding-bottom: 0;
					img {
						width: 90%;
						margin: 0 5%;
					}
				}
			}

			.two-column {
				width: 100%;
				display: flex;

				> * {
					flex: 1 0 0;
					padding: 10px;
				}

				> :nth-child(2) {
					margin-left: 50px;
				}
			}

			h3 {
				margin-top: 5vh;
				margin-bottom: 0;
			}

			h4 {
				margin-bottom: 0;
			}

			h5 {
				margin-bottom: 0;
			}

			p > small {
				display: block;
				font-weight: 600;
				margin-bottom: 5vh 0 0 0;
			}

			ol {
				margin: 5vh 0;
			}

			.image {
				text-align: center;
			}

			img {
				margin: 0 auto;
				max-width: 100%;
			}

			img + p {
				display: block;
				margin-top: 0;
				color: $text-light-grey;
				text-align: center;
				font-style: italic;
			}

			iframe {
				width: 100%;
				min-height: 400px;
				margin: 5vh 0;
			}

			blockquote {
				margin-left: 0;
				padding: 6px 20px;
				border-left: 6px solid $blue;

				i {
					display: block;
					margin-top: 5px;
					color: $text-light-grey;
				}
			}
		}
	}
}

@media screen and (max-width: $breakpoint) {
	.project-header {
		min-height: auto;

		.project-header-info {
			padding: 20px;

			h2 {
				margin-bottom: 40px;
			}

			p {
				margin: 40px 0;
			}

			h5 {
				margin: 40px 0;
			}
		}

		.project-header-image {
			display: none;
		}
	}

	.project-main {
		.project-content {
			padding: 0;

			.project-sidebar {
				text-align: left;
				padding: 0;
				padding-bottom: 40px;

				.project-sidebar-field {
					padding-bottom: 0;
					margin-bottom: 0;
				}
			}

			.project-main-body {

				padding: 20px;

				// first child is mobile only divider
				// the first image or text should have no margin-top
				// to line up with the top of the sidebar
				> :nth-child(2) {
					margin-top: 5vh;
				}

				.two-column {
					padding: 0;

					> * {
						flex: auto;
						margin-left: 0 !important;
					}
				}
			}

			.line-divider {
				background: $blue;
			}
		}
	}
}
