---
---

@import 'variables.scss';

#projects-section {
	padding: 5vh 10vw;

	.line-divider {
		background: $blue;
	}

	#projects-intro {
		margin-bottom: 10vh;
		a {
			font-weight: bolder;
			color: black;
		}
	}

	#project-filters {

		margin-bottom: 5vh;

		a {
			border: 2px solid $blue;
			border-radius: 0.5vw;
			background: $blue;
			color: white;
			padding: 1vh 1vw;
			margin-right: 1vw;
			cursor: pointer;

			&.mixitup-control-active {
				background: white;
				color: $blue;
			}
		}
	}

	#project-grid {
		display: flex;
		flex-wrap: wrap;

		.project-card {
			flex: 1 0 0;
			min-width: 33.3%;
			max-width: 33.3%;
			box-sizing: border-box;
			min-height: 350px;
			position: relative;

			.project-card-default {
				height: 100%;
				text-align: center;
				position: relative;
				.imgwrap {
					min-height: inherit;
					box-sizing: border-box;
					img {
						width: 50%;
						top: 50%;
						left: 50%;
						position: absolute;
						@include transform(translate(-50%, -50%));
					}
				}
			}

			.project-card-hover {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.8);
				background-blend-mode: multiply;
				top: 0;
				left: 0;
				opacity: 0;
				color: white; 
				border: none;
				padding: 5% 10%;
				box-sizing: border-box;
				@include transition(0.4s);
			}

			&:hover > .project-card-hover {
				opacity: 1;
			}
		}
	}
}


@media screen and (max-width: $breakpoint) {
	#projects-section {

		padding: 0;

		.line-divider {
			margin-left: 0;
		}
		
		#projects-intro {
			margin-bottom: 0;
			padding: 0;
		}

		#project-filters {
			display: none;
			padding: 0;
		}

		#project-grid {
			display: flex;
			padding: 0;

			.project-card {
				width: 100%;
				min-width: auto;
				max-width: none;
				display: flex;
				padding: 0;
				margin-bottom: 3vh;

				.project-card-default {
					min-height: inherit;
				}

				.project-card-hover {
					opacity: 1;
					background-color: rgba(0,0,0,0.3);
					@include transition(0.4s);
				}
			}
		}
	}
}