---
---

@import 'variables.scss';

.slider-button {
	position: absolute;
	top: 50%;
	right: 10%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: $blue;
	text-decoration: none;
	transition: opacity .3s;
	cursor: pointer;

	&:hover {
		opacity: .5;
	}
}

.slider-button span {
	position: absolute;
	left: 50px;
	top: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	box-sizing: border-box;
}

.slider-prev-button span {
	border-right: 1px solid $blue;
	border-top: 1px solid $blue;
}

.slider-next-button span {
	border-left: 1px solid $blue;
	border-bottom: 1px solid $blue;
	-webkit-animation: sdb07 2s infinite;
	animation: sdb07 2s infinite;
	opacity: 0;

	&:nth-of-type(1) {
		left: 16px;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
	}

	&:nth-of-type(2) {
		left: 32px;
		-webkit-animation-delay: .15s;
		animation-delay: .15s;
	}

	&:nth-of-type(3) {
		left: 48px;
		-webkit-animation-delay: .3s;
		animation-delay: .3s;
	}
}

@keyframes sdb07 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


@media screen and (max-width: $breakpoint) {

	.slider {

		.slider-button span {
			border-width: 3px;
			z-index: 900;
			opacity: 1;
		}

		.slider-next-button {

			right: 5%;

			span {
				animation: none;
				-webkit-animation: none;
				right: 20px;

				&:nth-of-type(2) {
					display: none;
				}

				&:nth-of-type(3) {
					display: none;
				}
			}
		}

		.slider-prev-button {
			left: calc(5% - 36px) !important;
		}
	}
}