---
---
@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,600,700&display=swap');
@import 'variables.scss';

body {
	font-family: 'Overpass';
}

h1 {
	font-size: calc(20px + 3vw);
}

h2 {
	font-size: calc(15px + 2vw);
	line-height: 5vw;
	font-weight: 900;
}

h3 {
	font-size: 2.5vw;
}

h4 {
	font-size: calc(15px + 1vw);
	font-weight: 400;
}

h5 {
	font-size: calc(10px + 1vw);
	font-weight: 200;
}

p, li {
	font-weight: 200;
	line-height: calc(1em + 1.5vw);
	font-size: calc(0.2em + 1vw);
}

ul {
	margin-bottom: 5vh;
	padding-left: calc(20px + 1vw);
}


@media screen and (max-width: $breakpoint) {
	h1 {
		font-size: 3em;
	}

	h2 {
		font-size: 2.7em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 2.025em;
	}

	h4, h5 {
		font-size: 1.52em;
	}

	h6 {
		font-size: 1.14em;
	}

	p,a,li {
		font-size: 1em;
		line-height: 2em;
	}

	small {
		font-size: 0.8em;
	}
}