<div class="project-sidebar-field">
	<small>Duration</small>
	<p>{{ page.duration }}</p>
</div>
<div class="project-sidebar-field">
	<small>Team</small>
	<p>
		{% for member in page.team %}
			{% if member.link %}
				<a href="{{ member.link }}">
					{{ member.name }}
				</a>
			{% else %}
				{{ member.name }}
			{% endif %}
			<br />
		{% endfor %}
	</p>
</div>
<div class="project-sidebar-field">
	<small>Keywords</small>
	<p>
		{% for skill in page.skills %}
			{{ skill }}
			<br />
		{% endfor %}
	</p>
</div>
<div class="project-sidebar-field">
	<small>Final Deliverables</small>
	<p>
		{% for deliverable in page.deliverables %}
			<a href="{{ deliverable.link }}" target="_blank">{{ deliverable.name }}</a>
		{% endfor %}
	</p>
</div>