<header id="{{ page.title }}-header">
	<a id="logo" href="{{ site.baseurl }}/">
		<img src="{{ site.baseurl }}/img/logo.png" />
	</a>
	<nav>
		{% assign experiences = site.experiences | sort: "order" %}
		<a href="{{ experiences.first.url }}">Past Work</a>
		<a href="#projects-section">Projects</a>
		<a href="{{ site.baseurl }}/SeanPark_Resume.pdf" target="_blank">Resume</a>
		<a class="nav-toggle nonhoverable">
			☰
		</a>
	</nav>
</header>

<div id="mobile-nav-screen">
	<a class="nav-toggle nonhoverable" href>
		×
	</a>
	{% assign experiences = site.experiences | sort: "order" %}
	<a href="{{ experiences.first.url }}">Past Work</a>
	<a href="#projects-section">Projects</a>
	<a href="{{ site.baseurl }}/SeanPark_Resume.pdf" target="_blank">Resume</a>
</div>