<section id="projects-section">
	<div id="projects-intro">
		<hr class="line-divider" />
		<h2>Projects</h2>
		<p>
			I’ve worked flexibly on projects with various roles. I’ve tried to fight the notion that having breadth means being a master of none. Check out my past projects for a glimpse of my artifacts and work processes. For a higher level overview, check out my <a href="{{ site.baseurl }}/SeanPark_Resume.pdf" target="_blank">resume</a>.
			{% if page.type != "experience" %} For my past work experiences, check out my <a href="{{ site.experiences.first.url }}">Past Works</a> page. {% endif %}
		</p>
	</div>

	<div id="project-filters">
		<a data-filter="all">All</a>
		<a data-filter=".software-development">Software Development</a>
		<a data-filter=".ux-design">UX Design</a>
		<a data-filter=".digital-strategy">Digital Strategy</a>
		<a data-filter=".visual-design">Visual Design</a>
	</div>

	<div id="project-grid">
		{% assign projects = site.projects | sort: 'order' %}
		{% for project in projects %}
			<div class="mix project-card {% for f in project.filters %} {{ f }} {% endfor %}" data-order="{{ project.order }}">
				<div class="project-card-image" style="background: #{{ project.color }};">
					<div class="imgwrap">
						<img src="{{ site.baseurl }}/img/{{ project.name }}-grid.png" />
					</div>
				</div>
				<a class="project-card-hover" {% if project.finished %} href='{{ project.url }}' {% endif %}>
					<h3>{{ project.name }}</h3>
					<p>{{ project.question }}</p>
					{% if project.finished == false %}
						<p><b><i>Coming Soon!</i></b></p>
					{% else %}
						<p><b>Click to view details.</b></p>
					{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>

	<div id="other-websites">
		<h3>Other Websites</h3>
		<p>I've also launched the following websites as the lead developer:</p>
		<ul>
			<li>
				<a href="https://cmupoker.com" target="_blank">CMU Undergraduate Poker Club</a>
			</li>
			<li>
				<a href="https://cmusoundbytes.com" target="_blank">CMU Soundbytes A Cappella</a>
			</li>
			<li>
				<a href="https://ecaasuconf2020.com" target="_blank">East Coast Asian American Student Union 2020 Conference @ Pittsburgh</a>
			</li>
		</ul>
	</div>

	<img id="project-line1" class="line not-on-mobile" src="{{ site.baseurl }}/img/line7.png" />
	<img id="project-line2" class="line" src="{{ site.baseurl }}/img/line4.png" />
</section>