<section id="projects">
	<hr class="line-divider" />
	<div id="projects-intro">
		<h2>Projects</h2>
		<p>
			I’ve worked flexibly on projects with various roles. I’ve tried to fight the notion that having breadth means being a master of none. Check out my past projects for a glimpse of my artifacts and work processes. For a higher level overview, check out my <a href="{{ site.baseurl }}/resume.pdf" target="_blank">resume</a>. For my past work experiences, check out my <a href="{{ site.experiences.first.url }}">Past Works</a> page.
		</p>
	</div>

	<div id="project-grid">
		{% for project in site.projects %}
			<div class="project-card">
				<div class="project-card-default">
					<img src="{{ site.baseurl }}/img/{{ project.name }}-grid.png" />
				</div>
				<div class="project-card-hover">
					<h3>{{ project.name }}</h3>
					<p>{{ project.question }}</p>
					<a href="{{ project.url }}">Link</a>
				</div>
			</div>
		{% endfor %}
	</div>

	<div id="other-websites">
		<h3>Other Websites</h3>
		<ul>
			<li>
				<a href="cmupoker.com">CMU Undergraduate Poker Club</a>
			</li>
			<li>
				<a href="cmusoundbytes.com">CMU Soundbytes A Cappella</a>
			</li>
			<li>
				<a href="ecaasuconf2020.com">East Coast Asian American Student Union 2020 Conference @ Pittsburgh</a>
			</li>
		</ul>
	</div>
</section>