
// Some Style Variables
$blue: #2987ED;
$light-blue: rgba($blue, 0.2);
$text-grey: #4A4A4A;
$text-light-grey: #999;
$dark-grey: #6a6a6a;
$light-grey: #DADADA;
$error-red: #de3535;
$success-green: #d5f5d7;
$breakpoint: 960px;

@mixin transition($transition, $important: null) {
    -moz-transition:    $transition $important;
    -o-transition:      $transition $important;
    -webkit-transition: $transition $important;
    transition:         $transition $important;
}

@mixin transform($transform, $important: null) {
    -moz-transform:    $transform $important;
    -o-transform:      $transform $important;
    -webkit-transform: $transform $important;
    transform:         $transform $important;
}
