<section id="home-frameworks-intro">
	<div id="home-frameworks-intro-image">
		<img src="{{ site.baseurl }}/website-v2/img/frameworks.png" />
	</div>
	<div id="home-frameworks-intro-text">
		<hr class="line-divider" />
		<h2>Methods to the madness</h2>
		<p>
			My experience as a mentor / coach has led me to try and simplify my project experiences into frameworks to share
			with others. I bring my database design principles to UX design process, UX design ideas to front-end development,
			etc.
		</p>
		<!-- <a href="{{ site.baseurl }}/website-v2/frameworks.html">Learn More --</a> -->
		<p id="frameworks-coming-soon">
			<a>Learn more about my frameworks</a>
			I'll be documenting my frameworks soon!
		</p>
	</div>
	<img id="line4" class="line" src="{{ site.baseurl }}/website-v2/img/line5.png" />
	<img id="line5" class="line" src="{{ site.baseurl }}/website-v2/img/line1.png" />
	<img id="line6" class="line" src="{{ site.baseurl }}/website-v2/img/line7.png" />
</section>