<section id="home-frameworks-intro">
	<div id="home-frameworks-intro-image">
		<img src="{{ site.baseurl }}img/frameworks.png" />
	</div>
	<div id="home-frameworks-intro-text">
		<hr class="line-divider" />
		<h2>Connecting the dots</h2>
		<p>
			My experience as a mentor / coach has led me to try and simplify my project experiences into frameworks to share with others. I bring my database design principles to UX design process, UX design ideas to front-end development, etc.
		</p>
		<a href="{{ site.baseurl }}/frameworks.html">Learn More --></a>
	</div>
</section>